body{
    background-color: tomato;
    color: white;
}

.container{
    padding-top: 200px;
    text-align: center;
}

.container input{
    text-align: center;
    width: 40%;
    margin: auto;
}

#register, #login {
    display: none;
}

